{% extends "partials/base.html" %}
{% load static %}
{% block title %}Dashboard{% endblock title %}
{% block extra_css %}
    <!-- jsvectormap css -->
    <link href="{% static 'libs/jsvectormap/dist/css/jsvectormap.min.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/sweetalert2/dist/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />

    <!--Swiper slider css-->
    <link href="{% static 'libs/swiper/swiper-bundle.min.css'%}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}

{% block content %}
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">
                {% block page-title %}
                {% include "partials/page-title.html" with page_title="Base UI" title="User list" %}
                {% endblock page-title %}

                    <div class="row">
                        <!-- Striped Rows -->
                        <div class="col-lg-12">
                            <div class="col-md-auto ms-auto">
                                <form>
                                    <div class="card-body border border-dashed border-end-0 border-start-0">
                                        <form>
                                            <div class="row g-3">
                                                <div class="col-xxl-5 col-sm-6">
                                                    <div class="search-box">
                                                        <input type="text" class="form-control search"
                                                            placeholder="Search for order ID, customer, order status or something...">
                                                        <i class="ri-search-line search-icon"></i>
                                                    </div>
                                                </div>
                                                <!--end col-->
<!--                                                <div class="col-xxl-2 col-sm-6">-->
<!--                                                    <div>-->
<!--                                                        <input type="text" class="form-control" data-provider="flatpickr"-->
<!--                                                            data-date-format="d M, Y" data-range-date="true"-->
<!--                                                            id="demo-datepicker" placeholder="Select date">-->
<!--                                                    </div>-->
<!--                                                </div>-->
                                                <!--end col-->
                                                <div class="col-xxl-2 col-sm-4">
                                                    <div>
                                                        <select class="form-control" data-choices data-choices-search-false
                                                            name="choices-single-default" id="idStatus">
                                                            <option value="">Status</option>
                                                            <option value="all" selected>All</option>
                                                            <option value="Pending">Pending</option>
                                                            <option value="Inprogress">Inprogress</option>
                                                            <option value="Cancelled">Cancelled</option>
                                                            <option value="Pickups">Pickups</option>
                                                            <option value="Returns">Returns</option>
                                                            <option value="Delivered">Delivered</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-xxl-2 col-sm-4">
                                                    <div>
                                                        <select class="form-control" data-choices data-choices-search-false
                                                            name="choices-single-default" id="idPayment">
                                                            <option value="">Select Payment</option>
                                                            <option value="all" selected>All</option>
                                                            <option value="Mastercard">Mastercard</option>
                                                            <option value="Paypal">Paypal</option>
                                                            <option value="Visa">Visa</option>
                                                            <option value="COD">COD</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-xxl-1 col-sm-4">
                                                    <div>
                                                        <button type="submit" class="btn btn-primary w-100"
                                                            onclick="SearchData();"> <i
                                                                class="ri-equalizer-fill me-1 align-bottom"></i>
                                                            Filters
                                                        </button>
                                                    </div>
                                                </div>
                                                <!--end col-->
                                            </div>
                                            <!--end row-->
                                        </form>
                                    </div>
                                </form>
                            </div><!--end col-->
                            <div class="card">
                                <div class="card-header align-items-center d-flex">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Full Name</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Group</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for user in object_list %}
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>{{user.email}}</td>
                                        <td>{{user.full_name}}</td>
                                        <td>{{user.role}}</td>
                                        <td>{{user.groups}}</td>
                                        <td><span class="badge bg-success">{{user.is_active}}</span></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Page-content -->
            {% block footer %}
            {% include "partials/footer.html" %}
            {% endblock footer %}

        </div>

        <!-- end main content-->
{% endblock content %}

{% block extra_js %}
<!-- apexcharts -->
<script src="{% static 'libs/apexcharts/dist/apexcharts.min.js'%}"></script>

<!-- Vector map-->
<script src="{% static 'libs/jsvectormap/dist/js/jsvectormap.min.js'%}"></script>
<script src="{% static 'libs/jsvectormap/dist/maps/world-merc.js'%}"></script>

<!--Swiper slider js-->
<script src="{% static 'libs/swiper/swiper-bundle.min.js'%}"></script>

<!-- Dashboard init -->
<script src="{% static 'js/pages/dashboard-ecommerce.init.js'%}"></script>
{% endblock extra_js %}
